<!--
<body> tag: This is the main section of an HTML document
<div id="nav">NAVIGATION</div>: This creates a div (a container) with an ID of nav, and the text "NAVIGATION" is displayed inside it.
-->
<div id="nav" class="block">TOP NAVIGATION</div>