<!-- Listing 23.1 -->
<div class="data-form">
  <h2>Login:</h2>
  <form action="/users/login" method="POST">
    <label for="inputEmail">Email address</label>
    <input type="email" name="email" id="inputEmail" placeholder="Email address" required>

    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" placeholder="Password" required>

    <button type="submit">Login</button>
  </form>
</div>
