<!-- 
 <%- body %>: This is a special placeholder used by a template engine like EJS (Embedded JavaScript). 
<div id="footer">FOOTER</div>: This creates another div with the ID of footer, displaying the text "FOOTER" at the bottom. 
-->

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Confetti Cuisine</title>
	<style media="screen">
		body {
			margin: 0;
			padding: 0;
			height: 100%;
			color: black;
			text-align: center;
			font-family: sans-serif;
		}

		#nav {
			background-color: #7D498D;
		}

		#footer {
			background-color: #9C73A9;
			position: relative;
			bottom: 0;
		}

		#container {
			height: 100px;
			padding-top: 40px;
		}

		.block {
			padding-top: 40px;
			width: 100%;
			text-align: center;
			height: 60px;
			border: black dashed 5px;
		}
	</style>
</head>

<body>
    <%- include("partials/navigation") %>
    <div id="container">
        <%- body %>
    </div>
    <div id="footer" class="block">FOOTER</div>
</body>

</html>
